.text-style{
    font-size: 120%;
    font-family: sans-serif;
}

.mainBody{
    background-color: rgb(92, 192, 92);
}
.titleDiv
{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 241, 181);
    color: #0d5000;
    border-radius: 5px;
}
.text-dev
/* .subTitleDiv{
    width: 100%;
    height: 100%;
    background-color: #227e10;
    color: rgb(186, 189, 0);
    border-radius: 5px;
} */

/* .mainDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: rgb(248, 241, 181);
    color: #0d5000;
    border-radius: 5px; 
    margin-top: 1%;
} */

/* .images{
    padding: 1%;
    border-radius: 5px;
}
#subDiv1{
    margin: 2%;
    padding: 1%;
    background-color: #227e10;
    color: rgb(186, 189, 0);
    width: 40%;
    border-radius: 5px;
    height: 500px;
}

#subDiv2{
    margin: 2%;
    padding: 1%;
    background-color: #227e10;
    color: rgb(186, 189, 0);
    width: 40%;
    border-radius: 5px;
    height: 500px;

}

#nextArrowDiv{
    width: 2px;
    height: 2px;
}

.studentWork1{
    color: rgb(206, 192, 0);
}
*/    
.indexFooter{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #0d5000;
    border-radius: 5px;
    margin-top:2% ;
    color: rgb(186, 189, 0);
} 
 /* .indexFooterP1{
    margin: auto;
}
#p1{
    margin: auto;
    padding: 1%;
    text-align: center;
    font-size: 200%;
    font-family: sans-serif;
    font-weight: 500;
} 

#p2{
    margin: auto;
    padding: 1%;
    text-align: center;
    font-size: 150%;
    font-family: sans-serif;
    font-weight: 500;
} */

.linkBar{ /*this changes the box size*/
    padding-bottom: 1%;
}

.navbar{ /*this changes the text*/
    background-color: rgb(0, 99, 30);
        padding: 1%;
        /* position:fixed; */
        width: 40%;
        height: auto;
        top: 0;
        border-radius: 5px;
}

a:link{
        color: rgb(169, 172, 0);
        text-decoration: none;
    }

a:visited{
        color: rgb(169, 172, 0);
        text-decoration: none;
    }

a:hover{
        color: rgb(129, 131, 2);
        text-decoration: underline;
    }

a:active{
        color: rgb(95, 97, 1);
        text-decoration: underline;
    }

.navbar-text{
    size: 120%;
    font-family: sans-serif;
}

/* .projectsBody{
    background-color: rgb(69, 160, 69);
}
    
.projectsDiv{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 241, 181);
    color: rgb(13, 80, 0);
    border-radius: 5px;
}

#projectsP1{
    margin: auto;
    padding: 1%;
    text-align: center;
    font-size: 200%;
} */

/* .storepageBody{
    background-color: rgb(69, 160, 69);
} */
    
/* .placeholder1Div{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 241, 181);
    color: rgb(13, 80, 0);
    border-radius: 5px;
} */

/* 
.placeholder2Body{
    background-color: rgb(69, 160, 69);
}
    
.placeholder2Div{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 241, 181);
    color: rgb(13, 80, 0);
    border-radius: 5px;
}

#placeholder2P1{
    margin: auto;
    padding: 1%;
    text-align: center;
    font-size: 200%;
} */


